.container {
    display: flex;
}

.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightskyblue;
    margin: 20px;
}

.grid div {
    width: 40px;
    height: 40px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(243, 194, 202);
    margin: 20px;
}

.grid-display {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: lavender;
}

.ship div {
    width: 40px;
    height: 40px;
}

.destroyer-container {
    width: 80px;
    height: 40px;
    margin: 10px;
    background-color: rgb(170, 237, 148);
    display: flex;
}

.submarine-container {
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: rgb(179, 3, 141);
    display: flex;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: rgb(238, 124, 213);
    display: flex;
}

.battleship-container {
    width: 160px;
    height: 40px;
    margin: 10px;
    background-color: #c372db;
    display: flex;
}

.carrier-container {
    width: 200px;
    height: 40px;
    margin: 10px;
    background-color: rgba(104, 240, 122, 0.397);
    display: flex;
}
